* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  

.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 40%;
    padding: 8px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
  }
  
  .success-message {
    color: green;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
